[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
isort = "*"
flake8 = "*"
pylint = "*"
behave = "*"

[packages]
click = "*"
fastapi = "*"
uvicorn = "*"
pytz = "*"
pyyaml = "*"
requests = "*"
textrazor = "*"
graphene = "*"

[requires]
python_version = "3.8"
